@charset 'UTF-8';

//
// Molecules are groups of atoms bonded together and are the smallest
// fundamental units of a compound.
//
// http://bradfrost.com/blog/post/atomic-web-design/#molecules
//

@import "decanter/core/utilities/decanter-utilities";

.menu-block__secondary__sidebar {
  a, a:link, a:visited {
    color: color(red);
  }
  a:hover {
    color: color(lime);
  }
}
