.node-type-stanford-page {

  #main {
    padding-top: 0;
    > .container, .span12 {
      width: 100%;
      margin: 0;
    }
  }

  #main-content, #content {
    margin-left: 0;
  }

  #page-title {
    font-size: 0;
    width: 0;
    height: 0;
    display: inline-block;
    overflow: hidden;
    position: absolute;
  }

  .content-head {
    margin-bottom: 0;
  }

  #content-wrapper > div:not(.content-body),
  .center-max {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .node.node-stanford-page > .content > div:not(.paragraphs-items) {
    max-width: 1170px;
    margin: 0 auto;
  }
}