.node-type-stanford-page {
  #page-title {
    font-size: 0;
    width: 0;
    height: 0;
    display: inline-block;
    overflow: hidden;
    position: absolute;
  }
  .main {
    padding-top: 0;
  }
  .content-head {
    margin-bottom: 0;
  }
  #main .region:not(.region-content){
    max-width:1170px;
    margin:0 auto;
  }
}