.node-type-stanford-page {
  #page-title {
    font-size: 0;
    width: 0;
    height: 0;
    display: inline-block;
    overflow: hidden;
    position: absolute;
  }
  .main {
    padding-top: 0;
  }
  .content-head {
    margin-bottom: 0;
  }
<<<<<<< HEAD
}
=======

  #content-wrapper > div:not(.content-body),
  .center-max {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .node.node-stanford-page > .content > div:not(.paragraphs-items) {
    max-width: 1170px;
    margin: 0 auto;
  }
}
>>>>>>> ffd61edcdd1c41d4fc5709702b2fb07c3957a36f
